.profile-picture {
  border-radius: 75px;
}

.profile-picture-small {
  border-radius: 20px;
}

.bold {
  font-weight: bold;
}

.banner {
  align-self: center;
  border-radius: 5px;
}

.banner-margin {
  margin: auto;
}

.button-reset {
  margin-top: 10px;
  margin-bottom: 30px;
}
