.tutorials-view ol {
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}

.tutorials-view li {
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, box-shadow;
}

.tutorials-view li:hover {
    background-color: var(--lumo-base-color);
    box-shadow: var(--lumo-box-shadow-s);
}

.labels {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 4px;
}

.avatar-creator {
    display: flex;
    margin-left: 8px;
    position: absolute;
    border-radius: 25px;
}

.avatar-creator:hover {
    background-color: var(--lumo-base-color);
    box-shadow: var(--lumo-box-shadow-s);
}

.author {
    margin-top: 12px;
}

.link {
    color: #1e81b0;
    text-decoration: underline;
}

.admin {
    color: #ff1d1d;
    font-weight: bold;
}

.staff {
    color: #2cc5ea;
    font-style: italic;
}
